* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}
body {
    padding: 5px;
}
.container {
    display: flex;
    padding: 5px;
    border: 1px solid #000;
}
/* -------------------------partie sidebar----------------------- */

aside {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-between;
    background: #333333;
    padding: 40px;
}
aside li a {
    color: #fff;
    font-size: 2rem;
    padding: 20px;
}
.right-side {
    display: flex;
    
}
header{
    border: 1px solid;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}
nav ul {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
nav ul li a {
    text-decoration: underline;
    color:#676767;
}

/* -------------------- les items --------------------------*/

.flex-items {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-top: 10px;
}
.flex-items div {
    background: #5b5b5b;
    color: #fff;
    padding: 5rem;
    font-size: 4rem;
    flex-grow: 1;
}